<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--<connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=.\SA;AttachDbFilename=F:\Web\Program\ClubWebDB\ClubWebDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="ClubWebDBConnectionString" connectionString="Data Source=.\SA;AttachDbFilename=|DataDirectory|\ClubWebDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="F__WEB_PROGRAM_CLUBWEBDB_CLUBWEBDB_MDFConnectionString" connectionString="Data Source=CIA209\SA;Initial Catalog=F:\WEB\PROGRAM\CLUBWEBDB\CLUBWEBDB.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="F__WEB_PROGRAM_CLUBWEBDB_CLUBWEBDB_MDFConnectionString" connectionString="Data Source=CIA209\SA;Initial Catalog=F:\WEB\PROGRAM\CLUBWEBDB\CLUBWEBDB.MDF;Integrated Security=True" providerName="System.Data.SqlClient"/>
   <!-- <add name="F__WEB_PROGRAM_CLUBWEBDB_CLUBWEBDB_MDFConnectionString1" connectionString="Data Source=CIA209\SA;Initial Catalog=F:\WEB\PROGRAM\CLUBWEBDB\CLUBWEBDB.MDF;Integrated Security=True;Context Connection=False" providerName="System.Data.SqlClient"/>-->
    <add name="ClubWebDBConnectionString" connectionString="Data Source=.\SA;AttachDbFilename=|DataDirectory|\ClubWebDB.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
  </system.web>
</configuration>